﻿@model Werewolf_Manager_2.Models.Werewolf.ViewModels.DualPlayerSelectorModel
@using Werewolf_Manager_2.Models.Werewolf;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.ViewTitle;
}
@using (Html.BeginForm(Model.ActionRedirect, Model.ControllerRedirect))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.ViewTitle</h4>
        <hr />
        <div class="form-group">
            @Html.Label(Model.ViewLabel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PlayerId, new SelectList(Model.SelectablePlayers, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlayerId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label(Model.ViewLabel2, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Player2Id, new SelectList(Model.SelectablePlayers, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Player2Id, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
