﻿@model Werewolf_Manager_2.Models.Werewolf.ViewModels.PlayerSelectWithOptionalYesNoModel
@using Werewolf_Manager_2.Models.Werewolf.ViewModels;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.ViewTitle;
}

@using (Html.BeginForm(Model.ActionRedirect, Model.ControllerRedirect))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.ViewTitle</h4>
        <hr />
        <div class="form-group">
            @Html.Label(Model.ViewLabel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PlayerId, new SelectList(Model.SelectablePlayers, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PlayerId, "", new { @class = "text-danger" })
            </div>
                    
            <br />
            <br />

        @if (Model.ShowYesNo)
        {            
            @Html.Label(Model.YesNoPromptMessage, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <input type="submit" value="Yes" name="@PlayerSelectWithOptionalYesNoModel.STR_YES" class="btn btn-default" />
                <input type="submit" value="No" name="@PlayerSelectWithOptionalYesNoModel.STR_NO" class="btn btn-default" />
            </div>

            }
            else
            {

            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Select" name="@YesNoSelectorModel.STR_NO" class="btn btn-default" />
            </div>

            }

            </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}