﻿@model Werewolf_Manager_2.Models.Werewolf.ViewModels.YesNoSelectorModel
@using Werewolf_Manager_2.Models.Werewolf.ViewModels

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.ViewTitle;
}

@using (Html.BeginForm(Model.ActionRedirect, Model.ControllerRedirect))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@Model.ViewTitle</h4>
        <hr />
        <div class="form-group">
            <div class="col-md-10">
                @Html.Label(Model.ViewLabel, htmlAttributes: new { @class = "control-label" })
                <br />
                </div>

                <div class="col-md-10">
                    <input type="submit" value="Yes" name="@YesNoSelectorModel.STR_YES" class="btn btn-default" />
                    <input type="submit" value="No"  name="@YesNoSelectorModel.STR_NO"  class="btn btn-default" />
                </div>
            </div>

    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}