﻿@model Werewolf_Manager_2.Models.Werewolf.InfoManagers.RoleInfoManager.RoleDisplayInfo

@{  
    ViewBag.Title = Model.RoleName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<img src="@Url.Content(Model.ImagePath)" alt="Image" style="width:350px;height:350px" />
<br/>
<br/>
@Html.Label("Team") <br />
<p>@Model.Team.ToString()</p><br />

@Html.Label("Powers")<br />
<p>@Model.RoleDescription</p><br />

@Html.Label("Rulings")<br />
<p>@Model.RulingDescription</p><br />

@Html.Label("Victory Condition")<br />
<p>@Model.TeamDisplayInfo.TeamDescription</p><br />

@Html.Label("Villager Lover")<br />
<p>@Model.TeamDisplayInfo.VillageLoverDescription</p><br />

@Html.Label("Werewolf Lover")<br />
<p>@Model.TeamDisplayInfo.WerewolfLoverDescription</p><br />

@Html.Label("Serial Killer Lover")<br />
<p>@Model.TeamDisplayInfo.SerialKillerLoverDescription</p><br />

@Html.Label("Jester Lover")<br />
<p>@Model.TeamDisplayInfo.JesterLoverDescription</p><br />

<div>
    @Html.ActionLink("Back to Roles", "Index", "RoleInfo")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
