﻿@model IEnumerable<Werewolf_Manager_2.Models.Werewolf.InfoManagers.RoleInfoManager.RoleDisplayInfo>

@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            Roles
        </th>        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href='@Url.Action("Details", "RoleInfo", new { role = item.RoleType })'>
                    <img src="@Url.Content(item.ImagePath)" alt="Image" style="width:350px;height:350px" />
                </a>                
            </td>            
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Back to Games", "Index", "Games")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
