﻿@model IList<Werewolf_Manager_2.Models.Werewolf.ViewModels.PlayerViewModel>
@using Werewolf_Manager_2.Models.Werewolf.InfoManagers;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"Players for Game: {UserStateManager.GameId}";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().RightNeighborId)
            </th>
        </tr>

        @for (var i=0; i < Model.Count; i++)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model[i].Name)
                    @Html.HiddenFor(modelItem => Model[i].Id)
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => Model[i].Role,
        new SelectList(GameInfoManager.WerewolfRolesAlphabetical, Model[i].Role),
        new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model[i].Role, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => Model[i].RightNeighborId, new SelectList(Model[i].SelectablePlayers, "Value", "Text", Model[i].RightNeighborId), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => Model[i].RightNeighborId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </td>            
            </tr>
        }

    </table>

    <div class="form-group">
        <div class="">
            <input type="submit" value="Start Game" class="btn btn-default" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Players", "Index")
</div>

