﻿@model Werewolf_Manager_2.Models.Werewolf.DBModels.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Player</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Role)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_LeftId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_LeftId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Player_RightId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Player_RightId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
