﻿@model IEnumerable<Werewolf_Manager_2.Models.Werewolf.DBModels.Player>
@using Werewolf_Manager_2.Models.Werewolf.InfoManagers;

@{
    ViewBag.Title = $"Players for Game: {UserStateManager.GameId}";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Add Player", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}    

</table>

<p>
    Total Players: @Model.Count()
</p>

@Html.ActionLink(
                linkText: "Return To Games",
                actionName: "Index",
                controllerName: "Games",
                routeValues: new
                {
                },
                htmlAttributes: null
            ) |
@Html.ActionLink(
                linkText: "Assign Roles and Neighbors",
                actionName: "AssignRolesAndNeighbors",
                controllerName: "Players",
                routeValues: new
                {
                },
                htmlAttributes: null
            )
