﻿@model IEnumerable<Werewolf_Manager_2.Models.Werewolf.DBModels.Game>

@{
    ViewBag.Title = "Games";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create Game", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.GameId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalPlayers)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.GameId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalPlayers)
        </td>
        <td>
            @Html.ActionLink(
                linkText: "Configure Game",
                actionName: "Index",
                controllerName: "Players",
                routeValues: new
                {
                    GameId = item.GameId
                },
                htmlAttributes: null
            ) |
            @Html.ActionLink("Delete", "Delete", new { id=item.GameId })
        </td>
    </tr>
}

</table>
